.input-section{
    margin: auto;
    
display: flex;
flex-direction: column;
width:min-content;
}

input{
height: 10%;
margin:0.5rem 0.2rem  ;
}
.basicInfo{
    display: flex;
flex-direction: column;
justify-content:space-between;
}